<head>
	<title>
		{% block title %}philwade.org{% endblock %}
	</title>
	<link href="/rss/latest/" rel="alternate" type="application/rss+xml"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        $( document ).ready(function(){
            $(".button-collapse").sideNav();
        })
    </script>
    <style>
        body .row .sidebar {
            padding-top: 10px;
        }

        .sidebar .chip .material-icons.close {
            float: left;
            padding-right: 8px;
            padding-left: 0px;
        }
    </style>
</head>
