<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
{% include 'includes/header.html' %}
<body class="grey lighten-5">
    <div class="row">
        <div class="col m3 grey lighten-4">
			I'm Phil Wade, a web developer from Buffalo.
			<br/>
			<br/>
			<div class="chip">
            	Email phil (at) philwade.org
			</div>
            <br/>
			<div class="chip">
            	<a href="http://twitter.com/phil_wade">Twitter</a>
			</div>
			<div class="chip">
            	<a href="https://github.com/philwade">Github</a>
			</div>
            <br/>
            <br/>
            <a href="/rss/latest/"><img src="http://img.philwade.org/rss_feed.png"/> Subscribe to RSS</a>
            <br/>
            <br/>
            <a class="twitter-timeline" href="https://twitter.com/phil_wade" data-widget-id="593063735884914688">Tweets by @phil_wade</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="col m9">
            {% block content %}{% endblock %}
        </div>
    {% include 'includes/footer.html' %}
</body>
</html>
