{% extends 'includes/layout.html' %}
{% load pygment_tags %}
{% block title %}{{ post.title }} - philwade.org {% endblock %}
{% block metatitle %}{{ post.title }}{% endblock %}
{% block description %}{{ post.body | slice:"0:100" | striptags }}...{% endblock %}
{% block content %}
	<div class="blog_post card grey lighten-3">
        <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
            <div id="blog_author">
                {{ post.pub_date|date:"M j, Y - h a" }}
            </div>
            <br/>
                {{ post.body|pygmentize|safe }}
	    </div>
	</div>
{% endblock %}
