{% extends 'includes/layout.html' %}
{% block content %}
{% load pygment_tags %}
	{% if posts %}
		{% for post in posts.object_list %}
			<div class="blog_post card grey lighten-3">
                <div class="card-content">
                    <span class="card-title"><a href="{{ post.get_absolute_url }} ">{{ post.title }}</a></span>
                    <div id="blog_author">
                        {{ post.pub_date|date:"M j, Y - h a" }}
                    </div>
                    <br/>
                    {{ post.body|pygmentize|safe }}
			    </div>
			</div>
		{% endfor %}
		<div class="pagination">
			{% if posts.has_previous %}
				<a href="{% url 'index' posts.previous_page_number %}">
					&lt; Newer Posts
				</a>
			{% endif %}
			{% if posts.has_next %}
				<a href="{% url 'index' posts.next_page_number %}">
					Older Posts >
				</a>
			{% endif %}
		</div>
	{% else %}
		No posts here.
	{% endif %}
{% endblock %}
