{% extends 'includes/layout.html' %}
{% block content %}
	<div class="blog_post card grey lighten-3">
        <div class="card-content">
            <span class="card-title">Projects</span>
            <br/>
			These are things of varying silliness that I've done in my spare time.
	    </div>
	</div>
	<div class="blog_post card grey lighten-3">
        <div class="card-content">
            <span class="card-title"><a href="http://timeout.philwade.com">Timeout</a></span>
            <br/>
            A simple command line tool that manages the blocking of unproductive websites. Yet another
            part of the kick for mindful software I've been on. I wrote it with Haskell, a language I love
            but don't get to practice enough, and learned how to distribute it with Homebrew, the mac package manager.
	    </div>
	</div>
	<div class="blog_post card grey lighten-3">
        <div class="card-content">
            <span class="card-title"><a href="http://one-way-tweet.philwade.com">One Way Tweet</a></span>
            <br/>
            A web based twitter client that only sends tweets. I built this because I like to compose tweets but
            sometimes I want to avoid getting caught up in reading tweets when I send one. Part of an effort to be
            more mindful about using my computer. I wrote this in Elm with a tiny Node backend.
	    </div>
	</div>
	<div class="blog_post card grey lighten-3">
        <div class="card-content">
            <span class="card-title"><a href="http://www.ittybittystorage.com">Itty Bitty Storage</a></span>
            <br/>
			Itty bitty storage is a very simple Saas that stores single bits of information and makes them available through a rest API.
			I needed a project to help me learn Elixir/Phoenix and this was it. I ended up really enjoying working with Elixir and plan
			on using it again. I also learned a bunch about Redis, which stores the bits for quick access, and Docker, which I used as
			a way of doing builds without having a CI environment that matched my production environment.
	    </div>
	</div>
	<div class="blog_post card grey lighten-3">
        <div class="card-content">
            <span class="card-title"><a href="http://poker.philwade.org">Socket Poker</a></span>
            <br/>
			Socket Poker is a pointing poker site that I wrote to learn about React and Redux. I was unfamiliar going in, but by the end was really enjoying it.
			Building this eventually lead to my interest in functional programming in general, inspiring learning in Haskell and Elm. I also got to play around
			with websockets, which was cool. The back end is written in Node and shares code with the frontend.
	    </div>
	</div>
	<div class="blog_post card grey lighten-3">
        <div class="card-content">
            <span class="card-title"><a href="http://water.philwade.org">Water Goals</a></span>
            <br/>
			Super simple app I whipped up on a lunch break to track my water drinking through the day. Written with Elm.
	    </div>
	</div>
	<div class="blog_post card grey lighten-3">
        <div class="card-content">
            <span class="card-title"><a href="http://philwade.github.io/pw-butts/">pw-butts</a></span>
            <br/>
			Angular directive that draws ascii butts. Silly? Very, but I'm a firm believer in programming not only being useful but also fun and art. Also ended
			up being a good lesson in how directives are built, but still primarily an exercise in fun.
	    </div>
	</div>
{% endblock %}
