<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
{% include 'includes/header.html' %}
<body>
	{% block page_title %}<div id="page_title"><a href="/">phil wade dot org</a></div>{% endblock %}
	<div id="about">
		I'm Phil Wade, a developer who works on the web and on android. This is a blog about me and my life.
        <br/>
        <br/>
        <b>Interflix</b> is my first android app. If you're looking for more info about it or to submit a bug report, <a href="http://trac.philwade.org/wiki/Interflix">Click here</a>
        <br/>
        <br/>
        If you'd like to get in touch with me, fire an email to phil (at) philwade (dot) org
        <br/>
        <br/>
		I also occasionally post on twitter if you're into that sort of thing. I'm <a href="http://twitter.com/phil_wade">@phil_wade</a>
	</div>
	<div id="center_well">
		{% block content %}{% endblock %}
	</div>
	{% include 'includes/footer.html' %}
</body>
</html>
