<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
{% include 'includes/header.html' %}
<body>
	{% block page_title %}<div id="page_title"><a href="/">phil wade dot org</a></div>{% endblock %}
	<div id="about">
		I'm Phil Wade, I write code, homebrew beer and live with two cats, a dog and a wife in Buffalo, NY.
        <br/>
        <br/>
        Email phil (at) philwade (dot) org
        <br/>
        <br/>
        <br/>
        <br/>
        My wife and I write about dinner: <a href="http://www.usversusdinner.com">Us Versus Dinner</a>
        <br/>
        <br/>
		<a href="http://twitter.com/phil_wade">Twitter</a>
        <a href="https://github.com/philwade">Github</a><br/>
        <br/>
        <br/>
        <a href="/rss/latest/"><img src="http://img.philwade.org/rss_feed.png"/> Subscribe to RSS</a>
        <br/>
        <br/>
        <a class="twitter-timeline" href="https://twitter.com/phil_wade" data-widget-id="593063735884914688">Tweets by @phil_wade</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div id="center_well">
		{% block content %}{% endblock %}
	</div>
	{% include 'includes/footer.html' %}
</body>
</html>
