{% extends 'includes/layout.html' %}
{% block content %}
{% load comments %}
{% load pygment_tags %}
	<div class="blog_post">
	<b>{{ post.title }}</b>
	<div id="blog_author">
		by {{ post.author }} | {{ post.pub_date|date:"M j, Y - h a" }}
	</div>
	<br/>
	<br/>
		{{ post.body|pygmentize|safe }}
	</div>
	<div id="blog_comments">
	{% get_comment_list for post as comment_list %}
		{% for comment in comment_list %}
			<div class="blog_comment">
			{{ comment.user_name }} says... <br/>
			{{ comment.comment }}
			</div>
		{% endfor %}
		<div id="comment_form">
			{% get_comment_form for post as form %}
			<form action="{% comment_form_target %}" method="POST">
				{# TODO: make this not look like suck #}
				{{ form.name.label }}{{ form.name }}
				{{ form.email.label }}{{ form.email }}
				{{ form.url.label }}{{ form.url }}
				{{ form.comment.label }}{{ form.comment }}
				<input type="hidden" name="next" value="{% url philblog.views.detail post.id %}"/>
				<div style="display:none">
					{{ form.content_type }}
					{{ form.object_pk }}
					{{ form.timestamp }}
					{{ form.security_hash }}
				</div>
				<input type="submit" name="submit" class="submit-post" value="Submit">
			</form>
		</div>
	</div>
{% endblock %}
